

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#main {
    position: absolute;
    display: inline-block;
    top: 200px;
    left: 100px;
}

.navbar-brand {
    display: inline-flex;
}

.navbar-right {
    display: inline-block;
}

.navlogo {
    position:relative;
    top: -10px;
    height:40px;
    width:auto;
    vertical-align: middle;
    margin-right: 10px;
}
.glyphicon {
    vertical-align: top;
    font-size: 25px;
    line-height: .75em;
}

.ecliptic {
    font: 20px/1em 'ecliptic_brkregular', serif;
}

#directions img.adp-marker {
    margin: 0.5em;
}

.carousel-inner div {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
          transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.carousel-fade{
    z-index: -1;
    margin-bottom: 20px;
    background-color: black;
}


@media (min-width: 768px) {
    
}
